body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  text-align: center;
}


/* Header */

header {
  margin:0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  opacity: 0.9;
}

 nav {
   display: inline-block;
   padding-right:30px;
 }

 span {
   padding-left: 24px;
 }

 a {
      color: seashell;
    text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left:10px;
}

/*Our Mission Section*/

 .content {
    margin: auto;
    display:inline;
    position:relative;
    background-color: black;
    top:7%;
    height: 15%;
    transform: translateY(-50%);
    width: 100%;
    line-height: 4px;
    text-align: center;
    color:seashell;
}

#our {
   line-height: 40px;
}

#handpicked {
   line-height: 20px;
}

#mission {
      height:700px;
      width: 1200px;
      background-image: url("../images/img-mission-background.jpg");
      background-repeat: no-repeat;
      top: 70px;
      bottom: 60px;
      margin: 0 auto;
      position:relative;

    }

.flex-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Tea Shop Section */

#tea-shop {
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  top:144px;
  position: relative;
}

.ts-item {
    padding:10px 5px 12px 5px;
}

.ts-item img {
    height: 200px;
    width: 300px;
    margin: 5px 10px 10px 10px;
    display: block;
}

#ts-item {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

/* Tea Shop Location Section */

#locations .flex-container {

         width: 1200px;
         margin: auto;
}

#locations {
    background-image: url("../images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    padding-top: 70px;
    margin: 0 auto;
    position: relative;
    top: 148px;
}

.flex-container.locations {
  padding-top: 5px;
}

.location {
    opacity: 1;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px 20px;
}


h2, h3, h4 {
    margin: 0px;
    padding: 10px;
}

/* Contact Section */

#contact {
  Top:150px;
  height:200px;
  margin: 0 auto;
  position: relative;
}

footer {
  top:150px;
  text-align: left;
  padding-left: 20px;
  position: relative;
}
